.form-control {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-width: 360px;
  cursor: pointer;
}

.upload-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-field {
  width: 50%;
}
